
<div class="btn-group" role="group">
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="changeDifficulty(difficultyEnum.EASY)"
          [ngClass]="getClassForActiveDifficultySwitcher(difficultyEnum.EASY)">Easy</button>
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="changeDifficulty(difficultyEnum.MEDIUM)"
          [ngClass]="getClassForActiveDifficultySwitcher(difficultyEnum.MEDIUM)">Medium</button>
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="changeDifficulty(difficultyEnum.HARD)"
          [ngClass]="getClassForActiveDifficultySwitcher(difficultyEnum.HARD)">Hard</button>
</div>

<table class="table rounded-2 mt-2" [ngClass]="getBackgroundClass()">
  <thead>
  <tr>
    <td>Username</td>
    <td>Total time</td>
    <td>Date</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let entry of entries">
    <td><b>{{entry.username}}</b></td>
    <td>{{entry.totalTimeInMilliseconds / 1000}}s</td>
    <td>{{entry.startTime}}</td>
  </tr>
  </tbody>

</table>
