<div class="container mt-5">

  <div class="mt-4 mb-4 p-5 text-white rounded" id="jumbotron">
    <h1 class="text-center">Welcome to Coin Hunt!</h1>
    <p class="pt-5">Can you find all of them fast enough?</p>
  </div>


  <h2 style="margin-top: 70px">Choose the difficulty.</h2>
  <hr>
  <div class="row mt-3">

    <div class="col-sm-4">
      <app-game-initiator [difficulty]="difficultyEnum.EASY"></app-game-initiator>
    </div>

    <div class="col-sm-4">
      <app-game-initiator [difficulty]="difficultyEnum.MEDIUM"></app-game-initiator>
    </div>

    <div class="col-sm-4">
      <app-game-initiator [difficulty]="difficultyEnum.HARD"></app-game-initiator>
    </div>

  </div>

</div>
